[submodule "vendor/icc-profiles"]
	path = vendor/icc-profiles
	url = https://github.com/saucecontrol/Compact-ICC-Profiles.git
[submodule "vendor/tesseract.js-core"]
	path = vendor/tesseract.js-core
	url = https://github.com/naptha/tesseract.js-core.git
